.profile__edit {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-image: url(../../../images/profile-edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  margin-top: 15px;
  outline: none;
}

@media screen and (max-width: 691px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin: 8px 19px 14px 10px;
  }
}

.profile__edit:hover {
  opacity: .6;
  cursor: pointer;
}