.popup__save {
  height: 50px;
  width: 100%;
  background-color: #000;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  color: #fff;
  border-radius: 2px;
  margin-top: 48px;
  border: none;
  padding: 0;
}

@media screen and (max-width: 580px) {
  .popup__save {
    font-size: 14px;
    line-height: 16.94px;
    height: 46px;
  }
}

.popup__save:hover {
  opacity: .8;
  cursor: pointer;
}