.profile__add {
  width: 150px;
  min-height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-image: url(../../../images/profile-add.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  align-self: center;
}

@media screen and (max-width: 320px) {
  .profile__add {
    width: 282px;
    background-size: 16px 16px;
  }  
}