.popup__close {
  background-image: url(../../../images/close.svg);
  background-position: center;
  background-color: #000;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  background-size: contain;
}

@media screen and (max-width: 580px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.popup__close:hover {
  opacity: .6;
  cursor: pointer;
}