.profile__avatar {
  background-image: url(../../../images/avatar.jpg);
  min-width: 120px;
  min-height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 320px) {
  .profile__avatar {
    margin: 0px auto;
  }  
}