.profile__info {
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
  height: 73px;
  align-content: space-between;
  justify-content: space-between;
  margin: 0 auto 0 0;
}

@media screen and (max-width: 691px) {
  .profile__info {
    max-width: 282px;
    margin: 26px auto 36px;
    text-align: center;
    position: relative;
    justify-content: center;
  }
}