.card__like {
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  border: none;
  background-color: #fff;
  align-self: center;
}

.card__like:hover {
  opacity: .5;
  cursor: pointer;
}